<div class="container">

   <nav>
       <div class="logo">
           <img src="./img/logoSmall.png" alt="logo">
           <div class="logo-text">共享器</div>
       </div>
       <div class="menu">
           <ul>
               <li>
                   <a href="#">Articles</a>
               </li>
               <li>
                   <a href="#">Manual</a>
               </li>
               <li>
                   <a href="#">Contacts</a>
               </li>
           </ul>
       </div>
       <div class="start-trial-field">
           <div class="start-trial-title">Start your free trial today</div>
           <div class="start-trial-text">7-day Trial • Easy to use • Cancel anytime</div>
       </div>
       <form role="form">
           <div class="input-group">
               <input type="text" class="form-control" placeholder="输入邮箱" aria-label="输入邮箱" aria-describedby="button-addon2">
               <div class="input-group-append">
                   <button class="btn btn-outline-secondary" type="button" id="button-addon2">开始使用</button>
               </div>
           </div>
       </form>

   </nav>
    <div class="header-banner">

    </div>

</div>
